*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  text-decoration: none;
  height: 100vh;
  background: #87ceeb;
  height: 100vh;
  /* text-align: center; */
}
